.fade-out {
  opacity: 0;
}

.blog-section {
  padding: 20rem 35rem;
}

.blog-index-category-list {
  width: 100%;
  min-height: 20rem;
}

.blog-index-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}

.blog-page-heading {
  font-size: 8rem;
  color: #756c91;
  margin: 0 auto 20rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blog-index-page-subtitle {
  font-size: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #6c9184;
  margin: 0 auto 10rem;
}

.blog-categories-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.blog-categories-li {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}
.blog-categories-li:nth-of-type(3n + 1) {
  color: #91736c;
}
.blog-categories-li:nth-of-type(3n + 2) {
  color: #918f73;
}
.blog-categories-li:nth-of-type(3n + 3) {
  color: #6c9184;
}

.blog-category-link {
  text-decoration: none;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  color: inherit;
}

.blog-index-item:nth-of-type(4n + 1) {
  color: #6c9184;
}
.blog-index-item:nth-of-type(4n + 2) {
  color: #91736c;
}
.blog-index-item:nth-of-type(4n + 3) {
  color: #918f73;
}
.blog-index-item:nth-of-type(4n + 4) {
  color: #756c91;
}

.blog-index-title-link {
  color: inherit;
  text-decoration: none;
}

.blog-post-title {
  color: #756c91;
  text-align: center;
  font-size: 8rem;
  margin: 0 auto 20rem;
}

.blog-post-image {
  width: 100%;
  padding: 0;
  margin: 0 auto 20rem;
}

.blog-text-block {
  color: #918f73;
  width: 100%;
  margin: 0 auto 20rem;
}
.blog-text-block p {
  margin: 0 auto 5rem;
}
.blog-text-block p:last-of-type {
  margin-bottom: 0;
}

.post-category-wrapper {
  text-align: center;
  margin: 0 auto 20rem;
}

.post-categories-link {
  text-decoration: none;
  color: #6c9184;
}

.blog-post-date-author {
  text-align: center;
  color: #6c9184;
}