@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.main-header {
  padding-bottom: 10rem;
}
@media (max-width: 1100px) {
  .main-header {
    padding-bottom: calc(15rem / 2);
  }
}
@media (max-width: 800px) {
  .main-header {
    padding-bottom: calc(10rem / 2);
  }
}

.main-logo {
  margin-bottom: 20rem;
}
@media (max-width: 1100px) {
  .main-logo {
    margin-bottom: 15rem;
  }
}
@media (max-width: 800px) {
  .main-logo {
    margin-bottom: 10rem;
  }
}

.error-page-heading {
  font-size: 8rem;
  color: #756c91;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.error-page-main-content {
  background-color: #f4f1f0;
}

.error-content-section {
  padding: 10rem 40rem 20rem;
}
@media (max-width: 1600px) {
  .error-content-section {
    padding: 10rem 20rem 20rem;
  }
}
@media (max-width: 1400px) {
  .error-content-section {
    padding: 10rem 15rem 20rem;
  }
}
@media (max-width: 1100px) {
  .error-content-section {
    padding: calc(15rem / 2) 15rem;
  }
}
@media (max-width: 800px) {
  .error-content-section {
    padding: calc(10rem / 2) 5rem;
  }
}

.error-page-image-wrapper {
  margin: 0 auto;
  position: relative;
}

.error-page-main-image {
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.error-page-image-showing {
  opacity: 1;
  z-index: 10;
}

.error-section-text-wrapper {
  color: #756c91;
  font-size: 8rem;
  text-align: center;
}
@media (max-width: 1600px) {
  .error-section-text-wrapper {
    font-size: 7rem;
  }
}
@media (max-width: 1300px) {
  .error-section-text-wrapper {
    font-size: 6rem;
  }
}
@media (max-width: 800px) {
  .error-section-text-wrapper {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
  .error-section-text-wrapper {
    font-size: 4rem;
  }
}