@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.main-header {
  padding-bottom: 0;
}

.main-logo {
  margin-bottom: 20rem;
}
@media (max-width: 1100px) {
  .main-logo {
    margin-bottom: 15rem;
  }
}
@media (max-width: 850px) {
  .main-logo {
    margin-bottom: 10rem;
  }
}
@media (max-width: 450px) {
  .main-logo {
    margin-bottom: 5rem;
  }
}

.error-page-heading {
  font-size: 8rem;
  color: #756c91;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.error-page-main-content {
  background-color: #f4f1f0;
}

.error-content-section {
  padding: 0 25rem 20rem;
}
@media (max-width: 1600px) {
  .error-content-section {
    padding: 0 20rem 20rem;
  }
}
@media (max-width: 1400px) {
  .error-content-section {
    padding: 0 15rem 20rem;
  }
}
@media (max-width: 1100px) {
  .error-content-section {
    padding: 0 15rem 15rem;
  }
}
@media (max-width: 850px) {
  .error-content-section {
    padding: 0 5rem 10rem;
  }
}
@media (max-width: 450px) {
  .error-content-section {
    padding: 0 2.5rem 5rem;
  }
}

.error-page-image-wrapper {
  margin: 0 auto;
  position: relative;
}

.error-page-main-image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.error-page-first-image {
  position: static;
}

.error-page-image-showing {
  opacity: 1;
  z-index: 10;
}

.error-section-text-wrapper {
  color: #756c91;
  font-size: 8rem;
  text-align: center;
  margin-bottom: 20rem;
}
.error-section-text-wrapper p {
  margin-top: 0;
}
.error-section-text-wrapper p:first-of-type {
  margin-top: 0;
}
.error-section-text-wrapper p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1600px) {
  .error-section-text-wrapper {
    font-size: 7rem;
  }
}
@media (max-width: 1300px) {
  .error-section-text-wrapper {
    font-size: 6rem;
  }
}
@media (max-width: 1100px) {
  .error-section-text-wrapper {
    margin-bottom: calc(15rem / 2);
  }
}
@media (max-width: 850px) {
  .error-section-text-wrapper {
    font-size: 5rem;
    margin-bottom: calc(10rem / 2);
  }
  .error-section-text-wrapper p {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 450px) {
  .error-section-text-wrapper {
    font-size: 4rem;
  }
}