//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//* Layout Variables
$grid-gap: 0 1rem;

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin main-font-stack {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  font-style: normal;
}

//********** Sizing & spacing **********

//* Header
$header-spacing: 5rem;
$header-spacing-large: 10rem;

//* Headings

//Sizing
$h1-size: 8rem;
$h2-size: 8rem;
$h3-size: 1rem;

//Spacing
$h1-spacing-large: 5rem;
$h1-spacing: 20rem;
$h2-spacing: 20rem;
$h3-spacing: 1rem;

//* Sections
$section-spacing-extra-large: 40rem;
$section-spacing-very-large: 35rem;
$section-spacing-large: 30rem;
$section-spacing-medium: 25rem;
$section-spacing-small: 20rem;
$section-spacing-smaller: 15rem;
$section-spacing-extra-small: 10rem;

//* Paragraphs

//Font sizing
$font-size-medium: 5rem;
$font-size-main: 4rem;
$font-size-small: 3rem;
$font-size-extra-small: 2rem;
$font-size-tiny: 1rem;

//Spacing
$paragraph-spacing-large: 10rem;
$paragraph-spacing-medium: 5rem;
$paragraph-spacing-small: 2.5rem;
$paragraph-spacing-smaller: 2rem;

//* Forms

//Sizing
$input-font-size: $font-size-small;

//Spacing
$input-spacing: 1rem;

//********** Links **********

//* Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-one;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//* Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $transition-one;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(800) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//*=========================================
//** Colours  **
//*=========================================

//Main brand Colours
$background-colour-main: #f4f1f0;
$background-colour-two: #6c9184;
$background-colour-three: #756c91;

//Main Font Colours
$font-colour-main: #756c91;
$font-colour-two: #6c9184;
$font-colour-three: #91736c;
$font-colour-four: #918f73;
$font-colour-light: #f4f1f0;

$link-colour: #3c3cf6;
$link-visited: #8608fb;

//*=========================================
//** Effects and Animation  **
//*=========================================

//********** Transition Timings**********

$transition-one: 0.3s ease-in-out 0s;

//********** Simple Fade Out **********
.fade-out {
  opacity: 0;
}

//********** Scrollbar Mixin **********

//********** Scrollbar Mixin **********

@mixin styled-scrollbar(
  $size,
  $color,
  $background-colour,
  $track-shadow-colour
) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: scale-color($color, $lightness: 20%);
    position: relative;
    bottom: 10rem;
    border-radius: 10px;

    &:hover {
      background-color: $color;
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-colour;
    box-shadow: inset 0 0 3px $track-shadow-colour;
  }
}

//*=========================================
//** Media Queries   **
//*=========================================

//********** Width **********

//TODO: Change snippets to match below
@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

//********** Width and Orientation **********

@mixin width-orientation-breakpoint($point, $orientation: portrait) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-height: $point) and (orientation: $orientation) {
    @content;
  }
}
