@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-logo {
  margin-bottom: $h2-spacing;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(800) {
    margin-bottom: $section-spacing-extra-small;
  }
}

.main-header {
  padding: 0 $section-spacing-very-large $section-spacing-extra-small;

  @include breakpoint(1600) {
    padding: 0 $section-spacing-small $section-spacing-extra-small;
  }

  @include breakpoint(1400) {
    padding: 0 $section-spacing-smaller $section-spacing-extra-small;
  }

  @include breakpoint(1100) {
    padding: 0 $section-spacing-smaller calc(#{$section-spacing-smaller} / 2);
  }

  @include breakpoint(800) {
    padding: 0 $paragraph-spacing-small $paragraph-spacing-medium;
  }
}

.about-me-page-heading {
  color: $background-colour-three;
  margin: 0 auto $h2-spacing;
  width: fit-content;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(800) {
    margin-bottom: $section-spacing-extra-small;
  }
}

.about-me-header-image-wrapper {
  position: relative;
}

.about-me-header-image {
  margin: 0 auto;
  width: 100%;
  max-height: 95vh;
  object-fit: contain;
  opacity: 0;
  transition: $transition-three;
}

.about-me-header-image-two {
  position: absolute;
  top: 0;
  left: 0;
}

.about-me-header-image-showing {
  opacity: 1;
}

//*=========================================
//** Main **
//*=========================================

.about-me-section {
  background-color: $background-colour-three;
  color: $font-colour-light;
  padding: $section-spacing-extra-small $section-spacing-very-large $section-spacing-small ;
  transition: $transition-one;

  &.active {
    color: $font-colour-two;
    background-color: $background-colour-main;
  }

  @include breakpoint(1600) {
    padding: $section-spacing-extra-small $section-spacing-small $section-spacing-small;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-extra-small $section-spacing-smaller $section-spacing-small;
  }

  @include breakpoint(1100) {
    padding: calc(#{$section-spacing-smaller} / 2) $section-spacing-smaller $section-spacing-smaller;
  }

  @include breakpoint(800) {
    padding: $section-spacing-extra-small $paragraph-spacing-medium $section-spacing-extra-small;
  }

  @include breakpoint(500) {
    padding: $paragraph-spacing-medium $paragraph-spacing-small $section-spacing-extra-small;
  }

  p {
    margin: 0 auto $paragraph-spacing-medium;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}



.arrow-wrapper {
  @include flex(row);
  justify-content: center;
  padding: $section-spacing-small 0 0;
  animation: arrow-bounce 2s linear infinite forwards;


  @include breakpoint(1100) {
    padding: $section-spacing-smaller 0 0;
  }

  @include breakpoint(800) {
    padding: $section-spacing-extra-small 0 0;
  }

  &.active {
    svg {
      .a {
        stroke: $background-colour-three;
      }
    }
  }

  svg {
    .a {
      stroke: $background-colour-main;
    }
  }
}
