@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-logo {
  margin-bottom: $h2-spacing;
}
.main-header {
  padding: 0 $section-spacing-very-large;
}

.about-me-page-heading {
  color: $background-colour-three;
  margin: 0 auto $h2-spacing;
  width: fit-content;
}

.about-me-header-image {
  margin: 0 auto;
}

//*=========================================
//** Main **
//*=========================================

.about-me-section {
  color: $font-colour-two;
  padding: $section-spacing-small $section-spacing-very-large;

  p {
    margin: 0 auto $paragraph-spacing-medium;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.arrow-wrapper {
  @include flex(row);
  justify-content: center;
  margin: $section-spacing-small 0;

  svg .a {
    stroke: $background-colour-three;
  }
}
