@use 'bits' as *;

//*==============================================================================
//** General Styles **
//*==============================================================================

.blog-section {
  padding: $section-spacing-small $section-spacing-very-large;
}

//*==============================================================================
//** Blog Index **
//*==============================================================================

.blog-page-heading {
  font-size: $h1-size;
  color: $background-colour-three;
  margin: 0 auto $h1-spacing;
  width: fit-content;
}

.blog-index-section {
  @include flex(column);
  align-items: center;
  font-size: $font-size-main;
  padding: $section-spacing-small $section-spacing-large;
}

.blog-index-category-list {
  width: 100%;
  min-height: 20rem;
}

.blog-index-page-subtitle {
  font-size: $font-size-main;
  width: fit-content;
  color: $font-colour-two;
  margin: 0 auto $section-spacing-extra-small;

  // * For smaller screens
  // &::after {
  //   content: url('/images/blog-down-arrow.svg');
  //   transition: all 0.3s ease;
  //   display: inline-block;
  // }

  // &:hover::after {
  //   transform: rotate(180deg);
  // }
}

.blog-categories-ul {
  @include flex(row);
  justify-content: space-between;
  padding: 0;
  margin: 0 auto $section-spacing-small;
}

.blog-categories-li {
  list-style-type: none;
  width: fit-content;
  margin: 0;
  padding: 0;

  &:nth-of-type(3n + 1) {
    color: $font-colour-three;
  }

  &:nth-of-type(3n + 2) {
    color: $font-colour-four;
  }
  &:nth-of-type(3n + 3) {
    color: $font-colour-two;
  }
}

.blog-category-link {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  text-align: center;
  color: inherit;
}

.blog-index-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $section-spacing-small;
}

.blog-index-item {
  &:nth-of-type(4n + 1) {
    color: $font-colour-two;
  }

  &:nth-of-type(4n + 2) {
    color: $font-colour-three;
  }

  &:nth-of-type(4n + 3) {
    color: $font-colour-four;
  }

  &:nth-of-type(4n + 4) {
    color: $font-colour-main;
  }
}

.blog-index-title {
  text-align: center;
}

.blog-index-title-link {
  color: inherit;
  text-decoration: none;
}

//*==============================================================================
//** Blog Post **
//*==============================================================================

.blog-post-title {
  color: $font-colour-main;
  text-align: center;
  font-size: $h1-size;
  margin: 0 auto $h1-spacing;
}

.blog-post-image {
  width: 100%;
  padding: 0;
  margin: 0 auto $section-spacing-small;
}

.blog-text-block {
  color: $font-colour-four;
  width: 100%;
  margin: 0 auto $section-spacing-small;
  p {
    margin: 0 auto $paragraph-spacing-medium;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.post-category-wrapper {
  text-align: center;
  margin: 0 auto $section-spacing-small;
}

.post-categories-link {
  text-decoration: none;
  color: $font-colour-two;
}

.blog-post-date-author {
  text-align: center;
  color: $font-colour-two;
}
