@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-header {
  padding-bottom: 0;
}

.main-logo {
  margin-bottom: $h2-spacing;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(800) {
    margin-bottom: $section-spacing-extra-small;
  }
}

.error-page-heading {
  font-size: $h1-size;
  color: $background-colour-three;
  margin: 0 auto;
  width: fit-content;
}

//*=========================================
//** Main **
//*=========================================

.error-page-main-content {
  background-color: $background-colour-main;
}

.error-content-section {
  padding: $section-spacing-extra-small $section-spacing-medium
    $section-spacing-small;

  @include breakpoint(1600) {
    padding: $section-spacing-extra-small $section-spacing-small
      $section-spacing-small;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-extra-small $section-spacing-smaller
      $section-spacing-small;
  }

  @include breakpoint(1100) {
    padding: calc(#{$section-spacing-smaller} / 2) $section-spacing-smaller;
  }

  @include breakpoint(800) {
    padding: calc(#{$section-spacing-extra-small} / 2) $paragraph-spacing-medium;
  }
}

//********** Image Switcher **********

.error-page-image-wrapper {
  margin: 0 auto;
  position: relative;
}

.error-page-main-image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.error-page-first-image {
  position: static;
}

.error-page-image-showing {
  opacity: 1;
  z-index: 10;
}

//********** Error Page Text **********

.error-section-text-wrapper {
  color: $font-colour-main;
  font-size: $h2-size;
  text-align: center;
  margin-bottom: $section-spacing-small;

  p {
    margin-top: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint(1600) {
    font-size: $font-size-large;
  }

  @include breakpoint(1300) {
    font-size: $font-size-larger;
  }

  @include breakpoint(1100) {
    margin-bottom: calc(#{$section-spacing-smaller} / 2);
  }

  @include breakpoint(800) {
    font-size: $font-size-medium;
    margin-bottom: calc(#{$section-spacing-extra-small} / 2);

    p {
      margin-bottom: $paragraph-spacing-small;
    }
  }

  @include breakpoint(400) {
    font-size: $font-size-main;
  }
}
