@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-header {
  min-height: 85vh;
}

.main-logo {
  width: 300px;
  margin: 0 auto;
}

.header-image-text-wrapper {
  @include flex(row);
  align-items: flex-end;
  margin: $section-spacing-extra-small auto 0 $section-spacing-medium;
  padding-right: $section-spacing-medium;
}

.header-intro-text {
  color: $font-colour-main;
  margin: 0;
}

.header-plant-image-wrapper {
  position: absolute;
  bottom: 0;
  right: $section-spacing-extra-large;
  z-index: 1;
  width: 400px;
}

//*=========================================
//** Main **
//*=========================================

//********** Wrappers **********

.homepage-section {
  @include flex(column);
  align-items: center;
  padding: $section-spacing-small $section-spacing-medium;
  position: relative;
}

.homepage-section-one {
  background-color: $background-colour-main;
  color: $font-colour-main;
  padding: $section-spacing-small 0;
}

.homepage-section-two {
  background-color: $background-colour-two;
  color: $font-colour-light;
}

//********** Image **********

.homepage-main-image {
  margin-bottom: $section-spacing-small;
}

//********** Text **********

.homepage-paragraphs {
  margin: 0 auto $section-spacing-small;
}

.section-one-paragraph {
  margin: 0 $section-spacing-medium $section-spacing-small;
}

.image-paragraph-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 $section-spacing-medium $section-spacing-small;

  svg {
    flex: 0 1 auto;
    width: 20%;
  }
}

.image-paragraph {
  margin: 0;
  flex: 0 1 auto;
  width: 50%;
}

.box-paragraph {
  padding: $font-size-small;
  margin: 0;
  text-align: center;
}

.section-one-box-paragraph {
  height: 280px;
  width: 280px;
  border: 4px solid $font-colour-main;
}

.find-out-more-link {
  text-decoration: none;
  color: inherit;
}

//* Section Two Left aligned paragraph, to make room for absolutely positioned find out more box
//? TODO: Is there a better way set this box to the right of the adjacent paragraphs?

.section-two-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
}

.flex-inner-wrapper {
  @include flex(column);
  align-items: flex-start;
  flex: 0 1 auto;
  width: 60%;
}

.section-two-box-paragraph {
  flex: 0 0 auto;
  height: 300px;
  width: 300px;
  border: 4px solid $font-colour-light;
  margin-top: $section-spacing-small;
}

.left-aligned-paragraphs {
  margin: 0 0 $section-spacing-medium;
}

.section-two-paragraphs {
  text-align: center;
}

.contact-call-to-action-paragraph {
  width: 60%;
}
