@use 'bits' as *;

//*=========================================
//** Heading **
//*=========================================

.main-header {
  background-color: $background-colour-main;
}

.main-logo-wrapper {
  margin-bottom: $section-spacing-small;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(850) {
    margin-bottom: $section-spacing-extra-small;
  }
}

.legals-page-heading {
  font-size: $h1-size;
  margin: 0 0 $h1-spacing;
  width: 100%;
  text-align: center;
  color: $font-colour-main;
  padding: 0 $section-spacing-extra-small;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(850) {
    margin-bottom: $section-spacing-extra-small;
    padding: 0;
  }
}

.legals-section {
  font-size: $font-size-main;
  color: $font-colour-three;
  padding: 0 $section-spacing-large $section-spacing-small;
  background-color: $background-colour-main;

  @include breakpoint(1600) {
    padding: 0 $section-spacing-small $section-spacing-small;
  }

  @include breakpoint(1400) {
    padding: 0 $section-spacing-small $section-spacing-smaller;
  }

  @include breakpoint(1100) {
    padding: 0 $section-spacing-smaller $section-spacing-smaller;
  }

  @include breakpoint(850) {
    padding: 0 $section-spacing-extra-small $paragraph-spacing-medium;
  }

  @include breakpoint(850) {
    padding: $section-spacing-extra-small $paragraph-spacing-small;
  }

  p {
    margin: 0 auto $paragraph-spacing-medium;
  }
}

strong {
  font-weight: 850;
}
