@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-header {
  padding-bottom: $section-spacing-extra-small;

  @include breakpoint(1100) {
    padding-bottom: calc(#{$section-spacing-smaller} / 2);
  }

  @include breakpoint(800) {
    padding-bottom: calc(#{$section-spacing-extra-small} / 2);
  }
}

.main-logo {
  margin-bottom: $h2-spacing;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(800) {
    margin-bottom: $section-spacing-extra-small;
  }
}

.services-page-heading {
  font-size: $h1-size;
  color: $background-colour-three;
  margin: 0 auto;
  width: fit-content;
}

.services-section {
  background-color: $background-colour-three;
  padding: $section-spacing-extra-small $section-spacing-extra-large
    $section-spacing-small;
  transition: $transition-one;

  &.active {
    color: $font-colour-two;
    background-color: $background-colour-main;

    p {
      color: $font-colour-two;
    }

    strong {
      color: $font-colour-main;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }
  }

  @include breakpoint(1600) {
    padding: $section-spacing-extra-small $section-spacing-small
      $section-spacing-small;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-extra-small $section-spacing-smaller
      $section-spacing-small;
  }

  @include breakpoint(1100) {
    padding: calc(#{$section-spacing-smaller} / 2) $section-spacing-smaller;
  }

  @include breakpoint(800) {
    padding: calc(#{$section-spacing-extra-small} / 2) $paragraph-spacing-medium;
  }

  p {
    margin: 0 auto $paragraph-spacing-medium;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $font-colour-light;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }
  }

  strong {
    font-weight: 800;
    color: $font-colour-light;
  }
}

.arrow-wrapper {
  @include flex(row);
  justify-content: center;
  margin: $section-spacing-small 0;
  animation: arrow-bounce 2s linear infinite forwards;

  @include breakpoint(1100) {
    margin: $section-spacing-smaller 0;
  }

  @include breakpoint(800) {
    margin: $section-spacing-extra-small 0;
  }

  svg .a {
    stroke: $background-colour-main;
  }

  &.active {
    svg {
      .a {
        stroke: $background-colour-three;
      }
    }
  }
}

.services-image {
  width: 100%;
  margin: 0;
}

//* Contact form is narrower on this page to match the main content styled

.general-contact-form-section {
  @include breakpoint(1100) {
    padding-top: calc(#{$section-spacing-smaller} / 2);
  }

  @include breakpoint(800) {
    padding: calc(#{$section-spacing-extra-small} / 2) $paragraph-spacing-medium
      $section-spacing-extra-small;
  }

  @include breakpoint(700) {
    padding: calc(#{$section-spacing-extra-small} / 2) $paragraph-spacing-small
      $section-spacing-extra-small;
  }
}
