@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-logo {
  margin-bottom: $h2-spacing;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-smaller;
  }

  @include breakpoint(800) {
    margin-bottom: $section-spacing-extra-small;
  }
}

.services-page-heading {
  font-size: $h1-size;
  color: $background-colour-three;
  margin: 0 auto;
  width: fit-content;
}

.services-section {
  padding: $section-spacing-small $section-spacing-extra-large;
  background-color: $background-colour-main;

  @include breakpoint(1600) {
    padding: $section-spacing-small;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-small $section-spacing-smaller;
  }

  @include breakpoint(1100) {
    padding: $section-spacing-smaller $section-spacing-smaller 0;
  }

  @include breakpoint(800) {
    padding: $section-spacing-extra-small $paragraph-spacing-medium;
  }

  @include breakpoint(800) {
    padding: $section-spacing-extra-small $paragraph-spacing-small;
  }

  p {
    margin: 0 auto $paragraph-spacing-medium;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $font-colour-two;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }
  }

  strong {
    font-weight: 800;
    color: $font-colour-main;
  }
}

.arrow-wrapper {
  @include flex(row);
  justify-content: center;
  margin: $section-spacing-small 0;

  @include breakpoint(1100) {
    margin: $section-spacing-smaller 0;
  }

  @include breakpoint(800) {
    margin: $section-spacing-extra-small 0;
  }

  svg .a {
    stroke: $background-colour-three;
  }
}

.services-image {
  width: 100%;
  margin: 0;
}

//* Contact form is narrower on this page to match the main content styled

.general-contact-form-section {
  @include breakpoint(800) {
    padding: $section-spacing-smaller $paragraph-spacing-medium;
  }

  @include breakpoint(700) {
    padding: $section-spacing-extra-small $paragraph-spacing-small;
  }
}
