@use 'bits' as *;

//*=========================================
//** Header **
//*=========================================

.main-logo {
  margin-bottom: $h2-spacing;
}

.services-page-heading {
  font-size: $h1-size;
  color: $background-colour-three;
  margin: 0 auto;
  width: fit-content;
}

.services-section {
  padding: $section-spacing-small $section-spacing-extra-large;

  p {
    margin: 0 auto $paragraph-spacing-medium;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $font-colour-two;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }
  }

  strong {
    font-weight: 800;
    color: $font-colour-main;
  }
}

.arrow-wrapper {
  @include flex(row);
  justify-content: center;
  margin: $section-spacing-small 0;

  svg .a {
    stroke: $background-colour-three;
  }
}

.services-image {
  width: 100%;
  margin: 0;
}
