<section class="error-content-section">
  <div class="error-section-text-wrapper">
    <perch:content id="errorPageText" type="textarea" editor="redactor" label="Error Page Text" html>
  </div>
  <div class="error-page-image-wrapper">
    <img class="error-page-main-image error-page-first-image error-page-image-showing" src="<perch:content id="errorPageMainImageOne" type="image" width="2000" label="Error Page Image One">" alt="<perch:content id="altOne" type="text" label="Image description">"
    sizes="70vw"
    srcset="<perch:content type="image" id="errorPageMainImageOne" width="2000" > 2000w,
    <perch:content type="image" id="errorPageMainImageOne" width="1600" > 1600w,
    <perch:content type="image" id="errorPageMainImageOne" width="1200" > 1200w,
    <perch:content type="image" id="errorPageMainImageOne" width="800" > 800w,
    <perch:content type="image" id="errorPageMainImageOne" width="600" > 600w" >

    <img class="error-page-main-image" src="<perch:content id="errorPageMainImageTwo" type="image" width="2000" label="Error Page Image Two">" alt="<perch:content id="altTwo" type="text" label="Image description">"
    sizes="70vw"
    srcset="<perch:content type="image" id="errorPageMainImageTwo" width="2000" > 2000w,
    <perch:content type="image" id="errorPageMainImageTwo" width="1600" > 1600w,
    <perch:content type="image" id="errorPageMainImageTwo" width="1200" > 1200w,
    <perch:content type="image" id="errorPageMainImageTwo" width="800" > 800w,
    <perch:content type="image" id="errorPageMainImageTwo" width="600" > 600w" >

    <img class="error-page-main-image" src="<perch:content id="errorPageMainImageThree" type="image" width="2000" label="Error Page Image Three">" alt="<perch:content id="altThree" type="text" label="Image description">"
    sizes="70vw"
    srcset="<perch:content type="image" id="errorPageMainImageThree" width="2000" > 2000w,
    <perch:content type="image" id="errorPageMainImageThree" width="1600" > 1600w,
    <perch:content type="image" id="errorPageMainImageThree" width="1200" > 1200w,
    <perch:content type="image" id="errorPageMainImageThree" width="800" > 800w,
    <perch:content type="image" id="errorPageMainImageThree" width="600" > 600w" >

    <img class="error-page-main-image" src="<perch:content id="errorPageMainImageFour" type="image" width="2000" label="Error Page Image Four">" alt="<perch:content id="altFour" type="text" label="Image description">"
    sizes="70vw"
    srcset="<perch:content type="image" id="errorPageMainImageFour" width="2000" > 2000w,
    <perch:content type="image" id="errorPageMainImageFour" width="1600" > 1600w,
    <perch:content type="image" id="errorPageMainImageFour" width="1200" > 1200w,
    <perch:content type="image" id="errorPageMainImageFour" width="800" > 800w,
    <perch:content type="image" id="errorPageMainImageFour" width="600" > 600w" >
  </div>
</section>
