<section class="homepage-section homepage-section-two">
    <p class="homepage-paragraphs section-two-paragraphs">
      <perch:content id="secTwoParaOne" type="text" label="Paragraph One" size="m" required>
    </p>
    <p class="homepage-paragraphs section-two-paragraphs">
      <perch:content id="secTwoParaTwo" type="textarea" label="Paragraph Two" size="s" required>
    </p>
    <p class="homepage-paragraphs section-two-paragraphs">
      <perch:content id="secTwoParaThree" type="textarea" label="Paragraph Three" size="s" required>
    </p>
    <p class="homepage-paragraphs section-two-paragraphs">
      <perch:content id="secTwoParaFour" type="textarea" label="Paragraph Four" size="s" required>
    </p>
    <p class="box-paragraph section-two-box-paragraph">
      <perch:content id="secTwoBoxPara" type="textarea" label="Find Out More Box" size="s" required>
    </p>
    <p class="homepage-paragraphs section-two-paragraphs">
      <perch:content id="secTwoParaSix" type="textarea" label="Paragraph Six" size="s" required>
    </p>

</section>