<section class="homepage-section homepage-section-two">
    <div class="section-two-flex-wrapper">
      <div class="flex-inner-wrapper">
        <p class="homepage-paragraphs section-two-paragraphs left-aligned-paragraphs">
          <perch:content id="secTwoParaOne" type="text" label="Paragraph One" size="m" required>
        </p>
        <p class="homepage-paragraphs section-two-paragraphs left-aligned-paragraphs">
          <perch:content id="secTwoParaTwo" type="textarea" label="Paragraph Two" size="s" required>
        </p>
        <p class="homepage-paragraphs section-two-paragraphs left-aligned-paragraphs">
          <perch:content id="secTwoParaThree" type="textarea" label="Paragraph Three" size="s" required>
        </p>
        <p class="homepage-paragraphs section-two-paragraphs left-aligned-paragraphs">
          <perch:content id="secTwoParaFour" type="textarea" label="Paragraph Four" size="s" required>
        </p>
      </div>
      <p class="box-paragraph section-two-box-paragraph">
        <a class="find-out-more-link" href="/about-me"></a>
        <perch:content id="secTwoBoxPara" type="textarea" label="Find Out More Box" size="s" required>
        </a>
      </p>
    </div>
    <p class="homepage-paragraphs section-two-paragraphs contact-call-to-action-paragraph">
      <perch:content id="secTwoParaSix" type="textarea" label="Paragraph Six" size="s"  required >
    </p>
    <perch:template path="content/svg/arrow_svg.html"></perch:template>

</section>