<p class="homepage-paragraphs 2homepage-paragraph-one homepage-reduced-width-paragraph">
  <perch:content id="homepageParagraphOne" type="text" label="Paragraph One"  required divider-before="Homepage Text">
</p>

<img class="homepage-main-image" src="<perch:content id="homepageMainImage" type="image" width="2000" label="Main Image" order="1" divider-before="Homepage Image">" alt="<perch:content id="alt" type="text" label="Image description" order="2">"
sizes="100vw"
srcset="<perch:content type="image" id="homepageMainImage" width="2000" > 2000w,
<perch:content type="image" id="homepageMainImage" width="1700" > 1700w,
<perch:content type="image" id="homepageMainImage" width="1400" > 1400w,
<perch:content type="image" id="homepageMainImage" width="900" > 900w,
<perch:content type="image" id="homepageMainImage" width="600" > 600w,
<perch:content type="image" id="homepageMainImage" width="400" > 400w" >

<p class="homepage-paragraphs 2homepage-paragraph-two homepage-reduced-width-paragraph">
  <perch:content id="homepageParagraphTwo" type="textarea" label="Paragraph Two" required>
</p>

<p class="homepage-paragraphs 2homepage-paragraph-three">
  <perch:content id="homepageParagraphThree" type="text" label="Paragraph Three" required>
</p>

<div class="image-paragraph-wrapper">
  <p class="image-paragraph">
    <perch:content id="homepageParagraphFour" type="textarea" label="Paragraph Four" required>
  </p>
  <!-- Accrual World SVG  -->
  <!-- <div class="svg-wrapper"> -->
    <perch:template path="content/accrual_world.html"></perch:template>
  <!-- </div> -->
</div>

<p class="find-out-more-box-paragraph">
  <a class="find-out-more-link" href="/about-me">
    <perch:content id="findOutMoreText" type="text" label="Find out More Box"  required  html>
  </a>
</p>