<div class="header-image-text-wrapper">
  <img class="header-main-image" src="<perch:content id="headerMainImage" type="image" width="500" label="Header Main Image">" alt="<perch:content id="alt" type="text" label="Image description">"
  sizes="500px"
  srcset="<perch:content type="image" id="headerMainImage" width="500" > 500w,
  <perch:content type="image" id="headerMainImage" width="400" > 400w,
  <perch:content type="image" id="headerMainImage" width="300" > 300w" >
  <div class="header-plant-image-wrapper">
    <perch:template path="content/header_plant.html">
  </div>
  <p class="header-intro-text">
    <perch:template path="content/general_text_block.html">
  </p>
</div>