<div class="header-main-content-wrapper">
  <div class="header-image-text-wrapper">
    <div class="header-plant-image-wrapper">
      <perch:template path="content/svg/plant.html">
    </div>
    <img class="header-main-image" src="<perch:content id="headerMainImage" type="image" width="500" label="Header Main Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="500px"
    srcset="<perch:content type="image" id="headerMainImage" width="500" > 500w,
    <perch:content type="image" id="headerMainImage" width="400" > 400w,
    <perch:content type="image" id="headerMainImage" width="300" > 300w" >
  </div>
  <p class="header-intro-text fade-in-rotate">
    <perch:template path="content/general_text_block.html">
  </p>
</div>