<section class="services-section">
  <perch:content id="ServicesContent" type="textarea" editor="redactor"  label="Services Text"  required  html>
  <div class="arrow-wrapper">
    <perch:template path="svg/arrow_svg.html">
  </div>
  <div class="services-image-wrapper">
    <img class="services-image" src="<perch:content id="servicesImage" type="image" width="2000" label="Services Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="servicesImage" width="2000" quality="70"> 2000w,
    <perch:content type="image" id="servicesImage" width="1500" quality="70"> 1500w,
    <perch:content type="image" id="servicesImage" width="1000" quality="70"> 1000w,
    <perch:content type="image" id="servicesImage" width="800" quality="70"> 800w,
    <perch:content type="image" id="servicesImage" width="600" quality="70"> 600w" >
  </div>
</section>