<!-- Article Heading -->
<h1 class="section-heading blog-post-title" itemprop="headline">
  <perch:blog id="postTitle" type="text" label="Article Heading" required="true" size="l" order="3" >
</h1>

<!--Top  Image -->
<img class="blog-post-main-image blog-post-image" src="<perch:blog id="blogPostMainImage" type="image" width="1700" label="Main Image" order="1">" alt="<perch:blog id="alt" type="text" label="Image Description" help="Briefly describe what the image is showing" size="l" order="2">"
sizes="75vw"
srcset="<perch:blog type="image" id="blogPostMainImage" width="1700" > 1700w,
<perch:blog type="image" id="blogPostMainImage" width="1500" > 1500w,
<perch:blog type="image" id="blogPostMainImage" width="1200" > 1200w,
<perch:blog type="image" id="blogPostMainImage" width="900" > 900w,
<perch:blog type="image" id="blogPostMainImage" width="600" > 600w" >


<!-- Edit Slug -->
<perch:blog id="postSlug" type="slug" editable="true" label="Blog Post Slug" help="This is the text that goes after your web address (blossombooks.co/articles/this-bit-is-the-slug). This is generated automatically and incorporates the article title. You won't normally need to change this. If you do need to change this use numbers, letters and hyphens only. If you use spaces the link won't work. If the slug is changed after the page has been published, links using the previous slug won't work anymore." for="postTitle" suppress="true" order="4" >

<!-- Perch Blocks -->
<!-- Full width image -->
<perch:blocks>
  <perch:block type="fullwidthimage" icon="photo" label="Full width image, with optional caption - (can be dragged up or down to reorder).">
      <img class="blog-post-body-image blog-post-image" loading="lazy" src="<perch:blog id="fullWidthBlogImage" type="image" width="1350">" alt="<perch:blog id="alt" type="text" label="Image alt description">"
      sizes="100vw"
      srcset="<perch:blog type="image" id="fullWidthBlogImage" width="1750"> 1750w,
              <perch:blog type="image" id="fullWidthBlogImage" width="1500"> 1500w,
              <perch:blog type="image" id="fullWidthBlogImage" width="1200"> 1200w,
              <perch:blog type="image" id="fullWidthBlogImage" width="900"> 900w,
              <perch:blog type="image" id="fullWidthBlogImage" width="600"> 600w">
  </perch:block>

<!-- General text  -->
<!-- Text block  -->
<perch:block type="textarea" icon="edit" label="Blog Post Text - (can be dragged up or down to reorder).">
  <div class="blog-text-block">
    <perch:blog id="blog-post-text" type="textarea" editor="redactor" html="true" help="Blog post text. Add formatting via the toolbar." count="words">
  </div>
</perch:block>

    <!-- Pull Quote -->
    <perch:block type="pull-quote" icon="quote" label="Pull Quote With Optional Citation - (can be dragged up or down to reorder).">
      <!-- With Citation -->
      <perch:if exists="citationLink">
        <!-- And Link -->
        <blockquote class="blog-pull-quote blog-pull-quote-with-citation" cite="<perch:blog id="citationLink" type="text" label="Optional Citation Link" help="Paste in full URL">">
        <perch:else>
          <!-- Without Link or Without Citation  -->
          <blockquote class="blog-pull-quote">
      </perch:if>

      <div class="pull-quote-text">
        <perch:blog id="pullQuoteText" type="textarea" editor="redactor" html="true"  help="Pull quote text. Add formatting via the toolbar." count="words" order="1">
      </div>

      <perch:if exists="citationLink AND citationText">
          <p class="pull-quote-citation">
            <a class="pull-quote-citation-link"  href="<perch:blog id="citationLink">" target="_blank" title="Open in new tab">
              <perch:blog id="citationText" type="text" label="Optional Citation" order="2">
            </a>
          </p>
      <perch:else>
        <perch:if exists="citationText">
          <p class="pull-quote-citation">
            <perch:blog id="citationText">
          </p>
        </perch:if>
    </perch:if>

      </blockquote>
  	</perch:block>

    <perch:block type="embed" icon="code" label="Embed video - (can be dragged up or down to reorder)."> <!-- Video Embed  -->
      <div class=" embed blog-embed">
        <perch:blog id="videoEmbedBlock" type="textarea" editor="markitup" html="true" help="Paste embed code into the box." size="m">
        </div>
    </perch:block>

    <perch:block type="socialMediaEmbed" icon="code" label="General Embeds - (can be dragged up or down to reorder)."> <!-- Video Embed  -->
    <div class="embed blog-general-embed">
      <perch:blog id="socialEmbedBlock" type="textarea" editor="markitup" html="true" help="For social media type embeds. Paste code into the box." size="m">
      </div>
  </perch:block>


  </perch:blocks> <!-- Perch blocks end -->

  <div class="blog-post-date-author">
    <p>
    	<time class="dt-published" itemprop="dateCreated" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Meta information">">
    		<perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y">
    	</time>
    </p>
  </div>

  <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes" suppress="true">
    <perch:category id="catTitle" type="text" suppress="true">
  </perch:categories>
