<h2 class="about-me-page-heading">
  <perch:content id="aboutPageHeading" type="text" label="About Me Page Heading" size="m"  required>
</h2>
<img class="about-me-header-image" src="<perch:content id="aboutHeaderImage" type="image" width="2000" label="Header Image" quality="80">" alt="<perch:content id="alt" type="text" label="Image description">"
sizes="75vw"
srcset="<perch:content type="image" id="aboutHeaderImage" width="2000" > 2000w,
<perch:content type="image" id="aboutHeaderImage" width="1500" > 1500w,
<perch:content type="image" id="aboutHeaderImage" width="1000" > 1000w,
<perch:content type="image" id="aboutHeaderImage" width="800" > 800w,
<perch:content type="image" id="aboutHeaderImage" width="600" > 600w" >

