<h1 class="about-me-page-heading">
  <perch:content id="aboutPageHeading" type="text" label="About Me Page Heading" size="m"  required>
</h1>

<div class="about-me-header-image-wrapper">
  <img class="about-me-header-image about-me-header-image-showing" src="<perch:content id="aboutHeaderImage" type="image" width="1600" label="Header Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
  sizes="75vw"
  srcset="<perch:content type="image" id="aboutHeaderImage" width="1600" quality="70"> 1600w,
  <perch:content type="image" id="aboutHeaderImage" width="1300" quality="70"> 1300w,
  <perch:content type="image" id="aboutHeaderImage" width="1000" quality="70"> 1000w,
  <perch:content type="image" id="aboutHeaderImage" width="800" quality="70"> 800w,
  <perch:content type="image" id="aboutHeaderImage" width="600" quality="70"> 600w" >

  <img class="about-me-header-image about-me-header-image-two" src="<perch:content id="aboutHeaderImageTwo" type="image" width="1600" label="Header Image Two" help="For profile picture illustration"  quality="70">" alt="<perch:content id="altTwo" type="text" label="Image description">"
  sizes="75vw"
  srcset="<perch:content type="image" id="aboutHeaderImageTwo" width="1600" quality="70">  1600w,
  <perch:content type="image" id="aboutHeaderImageTwo" width="1300" quality="70"> 1300w,
  <perch:content type="image" id="aboutHeaderImageTwo" width="1000" quality="70"> 1000w,
  <perch:content type="image" id="aboutHeaderImageTwo" width="800" quality="70"> 800w,
  <perch:content type="image" id="aboutHeaderImageTwo" width="600" quality="70"> 600w" >
</div>

